In [ ]:
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
import time
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics
import warnings

# from sklearn import datasets
# # Import train_test_split function
# from sklearn.model_selection import train_test_split
# #Import scikit-learn metrics module for accuracy calculation

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
filepath = "/content/gdrive/MyDrive/iot_23_data/iot23_combined (2).csv"

In [ ]:
df = pd.read_csv(filepath)

In [ ]:
del df['Unnamed: 0']

In [ ]:
df

         duration  orig_bytes  ...  conn_state_SH  conn_state_SHR
0        2.998796           0  ...              0               0
1        0.000000           0  ...              0               0
2        0.000000           0  ...              0               0
3        2.998804           0  ...              0               0
4        0.000000           0  ...              0               0
...           ...         ...  ...            ...             ...
1521502  0.000000           0  ...              0               0
1521503  0.000000           0  ...              0               0
1521504  0.000000           0  ...              0               0
1521505  0.000000           0  ...              0               0
1521506  0.000000           0  ...              0               0

[1521507 rows x 25 columns]

In [ ]:
df['label'].value_counts()

8    880860
7    262690
0    240842
5    124362
1      8437
9      3915
2       357
4        30
6        13
3         1
Name: label, dtype: int64

In [ ]:
abc = AdaBoostClassifier()
# Train Adaboost Classifer

In [ ]:
X = df[['duration', 'orig_bytes', 'resp_bytes', 'missed_bytes', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes', 'proto_icmp', 'proto_tcp', 'proto_udp', 'conn_state_OTH', 'conn_state_REJ', 'conn_state_RSTO', 'conn_state_RSTOS0', 'conn_state_RSTR', 'conn_state_RSTRH', 'conn_state_S0', 'conn_state_S1', 'conn_state_S2', 'conn_state_S3', 'conn_state_SF', 'conn_state_SH', 'conn_state_SHR']]
Y = df['label']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=10, test_size=0.2)

In [ ]:
start = time.time()
print('program start...')
print()

# DT.fit(X_train, Y_train)
model = abc.fit(X_train, Y_train)
print()

print('prediction:')
y_pred = model.predict(X_test)
# y_pred = DT.predict(X_test)
print(y_pred)
print()

print('Score:')
# score = metrics.accuracy_score(y_test, y_pred)
score = model.score(X_test,Y_test)
print(score)

end = time.time()
print('program end...')
print()
print('time cost: ')
print(end - start, 'seconds')

program start...


prediction:
[5 8 8 ... 8 5 8]

Score:
0.6454574731681028
program end...

time cost:
71.12189197540283 seconds

In [ ]:
warnings.filterwarnings('ignore')

In [ ]:
print("Classifiction Report :")
print(classification_report(Y_test, y_pred))

Classifiction Report :
              precision    recall  f1-score   support

           0       0.76      0.00      0.00     48008
           1       0.85      0.01      0.01      1779
           2       0.00      0.00      0.00        76
           4       0.00      0.00      0.00         8
           5       1.00      0.80      0.89     25072
           7       0.00      0.00      0.00     52611
           8       0.62      1.00      0.77    175952
           9       0.69      0.96      0.80       796

    accuracy                           0.65    304302
   macro avg       0.49      0.35      0.31    304302
weighted avg       0.57      0.65      0.52    304302

In [ ]:
param_grid = {
              "n_estimators": [50,100,200],
              "learning_rate" : [0.9,1.0,1.1],
             }

In [ ]:
grid_search_abc = GridSearchCV(abc, param_grid=param_grid)
grid_search_abc.fit(X_train, Y_train)

GridSearchCV(estimator=AdaBoostClassifier(),
             param_grid={'learning_rate': [0.9, 1.0, 1.1],
                         'n_estimators': [50, 100, 200]})

In [ ]:
grid_search_abc.best_params_

{'learning_rate': 1.1, 'n_estimators': 50}

In [ ]:
abc = AdaBoostClassifier(n_estimators=50,learning_rate=1.1)

In [ ]:
start = time.time()
print('program start...')
print()

# DT.fit(X_train, Y_train)
model = abc.fit(X_train, Y_train)
print()

print('prediction:')
y_pred = model.predict(X_test)
# y_pred = DT.predict(X_test)
print(y_pred)
print()

print('Score:')
# score = metrics.accuracy_score(y_test, y_pred)
score = model.score(X_test,Y_test)
print(score)

end = time.time()
print('program end...')
print()
print('time cost: ')
print(end - start, 'seconds')

program start...


prediction:
[5 8 8 ... 8 5 8]

Score:
0.6454574731681028
program end...

time cost:
66.60374116897583 seconds

In [ ]:
print("Classifiction Report :")
print(classification_report(Y_test, y_pred))

Classifiction Report :
              precision    recall  f1-score   support

           0       0.76      0.00      0.00     48008
           1       0.85      0.01      0.01      1779
           2       0.00      0.00      0.00        76
           4       0.00      0.00      0.00         8
           5       1.00      0.80      0.89     25072
           7       0.00      0.00      0.00     52611
           8       0.62      1.00      0.77    175952
           9       0.69      0.96      0.80       796

    accuracy                           0.65    304302
   macro avg       0.49      0.35      0.31    304302
weighted avg       0.57      0.65      0.52    304302