In [ ]:
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
import time
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
import warnings

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
filepath = "/content/gdrive/MyDrive/iot_23_data/iot23_combined (2).csv"

In [ ]:
df = pd.read_csv(filepath)

In [ ]:
del df['Unnamed: 0']

In [ ]:
df

         duration  orig_bytes  ...  conn_state_SH  conn_state_SHR
0        2.998796           0  ...              0               0
1        0.000000           0  ...              0               0
2        0.000000           0  ...              0               0
3        2.998804           0  ...              0               0
4        0.000000           0  ...              0               0
...           ...         ...  ...            ...             ...
1521502  0.000000           0  ...              0               0
1521503  0.000000           0  ...              0               0
1521504  0.000000           0  ...              0               0
1521505  0.000000           0  ...              0               0
1521506  0.000000           0  ...              0               0

[1521507 rows x 25 columns]

In [ ]:
df['label'].value_counts()

8    880860
7    262690
0    240842
5    124362
1      8437
9      3915
2       357
4        30
6        13
3         1
Name: label, dtype: int64

In [ ]:
mlp = MLPClassifier(random_state=1)

In [ ]:
X = df[['duration', 'orig_bytes', 'resp_bytes', 'missed_bytes', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes', 'proto_icmp', 'proto_tcp', 'proto_udp', 'conn_state_OTH', 'conn_state_REJ', 'conn_state_RSTO', 'conn_state_RSTOS0', 'conn_state_RSTR', 'conn_state_RSTRH', 'conn_state_S0', 'conn_state_S1', 'conn_state_S2', 'conn_state_S3', 'conn_state_SF', 'conn_state_SH', 'conn_state_SHR']]
Y = df['label']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=10, test_size=0.2)

In [ ]:
start = time.time()
print('program start...')
print()

mlp.fit(X_train, Y_train)
# SC.fit(X_train, Y_train)
# print()

print('prediction:')
y_pred=mlp.predict(X_test)
# y_pred = SC.predict(X_test)
print(y_pred)
print()

program start...

prediction:
[5 8 8 ... 8 5 8]

Score:

NameError: ignored

In [ ]:
print('Score:')
score = mlp.score(X_test, Y_test)
print(score)
print()
# score = SC.score(X_test,Y_test)
# print(score)

end = time.time()
print('program end...')
print()
print('time cost: ')
print(end - start, 'seconds')

Score:
0.7432550558326925

program end...

time cost:
1914.768434047699 seconds

In [ ]:
warnings.filterwarnings('ignore')

In [ ]:
print("Classifiction Report :")
print(classification_report(Y_test, y_pred))

Classifiction Report :
              precision    recall  f1-score   support

           0       0.98      0.61      0.76     48008
           1       0.29      0.00      0.00      1779
           2       0.45      0.29      0.35        76
           4       1.00      0.12      0.22         8
           5       1.00      0.80      0.89     25072
           7       0.54      0.00      0.00     52611
           8       0.69      1.00      0.82    175952
           9       0.96      0.96      0.96       796

    accuracy                           0.74    304302
   macro avg       0.74      0.47      0.50    304302
weighted avg       0.74      0.74      0.67    304302