In [ ]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
import time
import numpy as np
import warnings

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
filepath = "/content/gdrive/MyDrive/iot_23_data/iot23_combined (2).csv"

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv(filepath)

In [ ]:
del df['Unnamed: 0']
df

         duration  orig_bytes  ...  conn_state_SH  conn_state_SHR
0        2.998796           0  ...              0               0
1        0.000000           0  ...              0               0
2        0.000000           0  ...              0               0
3        2.998804           0  ...              0               0
4        0.000000           0  ...              0               0
...           ...         ...  ...            ...             ...
1521502  0.000000           0  ...              0               0
1521503  0.000000           0  ...              0               0
1521504  0.000000           0  ...              0               0
1521505  0.000000           0  ...              0               0
1521506  0.000000           0  ...              0               0

[1521507 rows x 25 columns]

In [ ]:
df.shape

(1521507, 25)

In [ ]:
df['label'].value_counts()

8    880860
7    262690
0    240842
5    124362
1      8437
9      3915
2       357
4        30
6        13
3         1
Name: label, dtype: int64

In [ ]:
for col in df.columns: 
    print(col)

duration
orig_bytes
resp_bytes
missed_bytes
orig_pkts
orig_ip_bytes
resp_pkts
resp_ip_bytes
label
proto_icmp
proto_tcp
proto_udp
conn_state_OTH
conn_state_REJ
conn_state_RSTO
conn_state_RSTOS0
conn_state_RSTR
conn_state_RSTRH
conn_state_S0
conn_state_S1
conn_state_S2
conn_state_S3
conn_state_SF
conn_state_SH
conn_state_SHR

In [ ]:
print(df.columns.tolist())

['duration', 'orig_bytes', 'resp_bytes', 'missed_bytes', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes', 'label', 'proto_icmp', 'proto_tcp', 'proto_udp', 'conn_state_OTH', 'conn_state_REJ', 'conn_state_RSTO', 'conn_state_RSTOS0', 'conn_state_RSTR', 'conn_state_RSTRH', 'conn_state_S0', 'conn_state_S1', 'conn_state_S2', 'conn_state_S3', 'conn_state_SF', 'conn_state_SH', 'conn_state_SHR']

In [ ]:
X = df[['duration', 'orig_bytes', 'resp_bytes', 'missed_bytes', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes', 'proto_icmp', 'proto_tcp', 'proto_udp', 'conn_state_OTH', 'conn_state_REJ', 'conn_state_RSTO', 'conn_state_RSTOS0', 'conn_state_RSTR', 'conn_state_RSTRH', 'conn_state_S0', 'conn_state_S1', 'conn_state_S2', 'conn_state_S3', 'conn_state_SF', 'conn_state_SH', 'conn_state_SHR']]
Y = df['label']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)
normalized_x = scaler.transform(X)

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(normalized_x, Y, random_state=100, test_size=0.2)

In [ ]:
clf = GaussianNB()
clf.fit(X_train, Y_train)

GaussianNB()

In [ ]:
start = time.time()
print('program start...')
print()

clf = GaussianNB().fit(X_train, Y_train)
print()
print(clf.score(X_test, Y_test))
print()

y_pred = clf.fit(X_train, Y_train).predict(X_test)
print(y_pred)
print()

end = time.time()
print('program end...')
print()
print('time cost: ')
print(end - start, 'seconds')

program start...


0.30326452011488586

[7 5 7 ... 7 0 7]

program end...

time cost:
1.8356380462646484 seconds

In [ ]:
warnings.filterwarnings('ignore')

In [ ]:
print("Classifiction Report :")
print(classification_report(Y_test, y_pred))

Classifiction Report :
              precision    recall  f1-score   support

           0       1.00      0.40      0.58     48220
           1       0.00      0.00      0.00      1693
           2       0.00      0.53      0.01        70
           4       0.01      0.33      0.03         6
           5       0.21      1.00      0.35     24556
           6       0.02      1.00      0.04         4
           7       0.30      0.90      0.46     52496
           8       1.00      0.00      0.00    176488
           9       0.73      0.97      0.83       769

    accuracy                           0.30    304302
   macro avg       0.37      0.57      0.26    304302
weighted avg       0.81      0.30      0.20    304302